/* styles.css */
.ad-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ad {
  width: 200px; /* Reklam alanının genişliği, ihtiyacınıza göre ayarlayabilirsiniz */
  height: auto;
}

.ad-left {
  position: fixed;
  top: 0;
  left: 0;
}

.ad-right {
  position: fixed;
  top: 0;
  right: 0;
}
